
.container{
      padding-left: 40px;
  }
  .tab{
      width: 70%;
      /* position: relative; */
  }
  .nav{
      margin: 0;
      padding: 0;
      height: 30px;
      border-bottom: 1px solid #EEEEEE;
  }
  .tab-product{
      list-style-type: none;
      padding-right: 20px;
      padding-left: 20px;
      margin-right: 3px;
      float: left;
      height: 90%;
      border-bottom: 3px solid #FF3366;
      color: #CCCCCC;
      font-weight: bold;
  }
  .tab-product:hover{
      color: black;
  }
  .btn-nav{
      height: 100%;
      float: right;
  }
  .clear{
      clear: both;
  }
  .product{
      margin-top: 30px;
  }
  .box-product{
      float: left;
      margin-right: 20px;
  }
  .product-Img{
      position: relative;
  }
  .addToCard{
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      height: 40px;
      width: 100%;
      color: white;
      line-height: 40px;
      vertical-align: middle;
      text-align: center;
      display: none;
  }
  .product-details{
      margin-top: 5px;
  }
  .productName{
      text-align: center;
      margin: 0;
  }
  .newPrice{
      color:#FF4B78;
      font-size: 25px;
      padding: 5px;
  }
  .oldPrice{
      color: black;
      font-size: 15px;
      padding: 5px;
      text-decoration: line-through; 
  }
  .star{
      color: #FF9901;
      float: right;
      margin-top: 5px;
  }
  #product4{
      display: none;
  }
  body,html {
    color: black;
    display:block;
    width:100%;
    margin:0;
    padding:0;
}


.btn {
    background-color: rgb(138, 163, 196);
    /* Blue background */
    border: none;
    /* Remove borders */
    color: rgb(231, 220, 220);
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */

}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(214, 170, 170);
}
.form-group{
	
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	width: 50%;
	margin-bottom: 10px;
}


